
#headerimgs{
height: 10vh;
}

img{
height: 100%;
}


main{
  display: flex;
  flex-direction: row;
  gap: 40px;
 
}

#links{
  display: flex;
  flex-direction: column;
}


#aboutme{
  display: flex;
  flex-direction: column;

}


