body {
  background-color: #583f26;
  color: #ffffff;
  font-family: monospace;
  text-align: center;
  line-height: 2;
}

h1 {
  color: #f8ab3e;
  font-size: 3em;
  margin-top: 20px;
}

h2 {
  color: #f8ab3e;
  margin-bottom: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.intro img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.icons img {
  width: 50px;
  height: 50px;
  margin: 10px;
  vertical-align: middle;
}

.stuff {
  text-align: center; /* Center the entire list */
}

.stuff ul {
  list-style-type: none;
  padding: 0;
  display: inline-block; /* Keep the list items together */
  text-align: left; /* Align list items to the left */
}

.stuff li {
  margin-left: 0; /* Make sure there's no extra margin */
}

a {
  color: #f8ab3e;
  text-decoration: underline;
}

a:hover {
  color: #fa0814;
  text-decoration: underline;
}

.stuff {
  list-style-type: none;
  padding: 0;
}


.detail-item {
  display: block;
  max-width: 600px;
  margin: 20px auto;
  text-align: left;
  border: 1px solid #f8f7f6;
  border-radius: 5px;
  padding: 15px;
  background-color: #704d36;
}

.detail-item summary {
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}

.detail-item p,
.detail-item ul {
  margin-top: 10px;
  color: #ffffff;
}

.detail-item ul {
  list-style-type: disc;
  padding-left: 20px;
}

.detail-item em {
  font-style: italic;
  color: #ffffff;
}


.topics button {
  margin: 5px;
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.topics button:hover, .topics button.active {
  background-color: #ffffff;
  color: #000000;
}
